{% extends "base.html" %}
{% block title %}-testing{% endblock %}
{% block head %}
<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.11.1.css" type="text/css" />
<script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.js"></script>
{{ script | safe }}

{% endblock %}<!-- block head -->



{% block content %}
<div class=page>
    <h2>Data Explorer</h2>
    {{ div | safe }}
</div>
<br><br>
<p><i>Note: All values are standardized, so that a value of 0 is an average value, while positive values indicate greater than average, and negative values indicate lower than average.</i></p>
<p><i>Also, some indicators are inverted so that postive values are always "better" or "greater" than negative values. This is not (yet) noted in the axis labels.</i></p>

<p><a href="{{ url_for('week1') }}">Click here for a fancier but static version of a similar plot.</a></p>
<p><a href="https://pavopax.shinyapps.io/shiny-app-data-explorer/" target="_blank">Click here for a Shiny Data Explorer [beta]</a></p>

{% endblock %}


