{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}


<h1>Insights</h1>
<p>In this section, I present some initial insights from our dataset.</p>

<p><i>Jump to:</i> &nbsp;&nbsp;<a href="#pca">[Uniqueness]</a> &nbsp;&nbsp;&nbsp;<a href="#indicators">[Indicators]</a></p>

<h2>Correlations</h2>
<p>Below is a correlation plot of all 25 indicators that currently comprise our ranking. Cells in blue correspond to two indicators which are positively associated (correlated). That is, as one increases, the other increases also. Darker red cells show negative association: higher values of one variable are associated with lower values of the other.</p>
<p>For example, ease of doing business (IC.BUS.EASE.XQ) is inversely correlated with population growth (SP.POP.GROW).</p>
<p><a href="{{ url_for('indicators')}}">Click here for a dictionary of these indicators.</a></p>
<img src="{{ url_for('static', filename='img/indicator-correlations.png')}}" class="img-responsive" alt="Responsive image" width="800" style="border:1px solid black">



<div id="pca">
<h2>Which countries are unique?</h2>
<p>The following plot suggests which countries are similar or different. We see that the United States and China are by themselves. Briefly, this means that there is no other country like the United States, and no other country like China.</p>
<p>On the other hand, Greece and Portugal (near the top) are very close to each other, so this model suggests they are similar to each other, but different from Brazil, Indonesia, and India, who are themselves similar to each other.</p>
<p>This is called "Principal Components Analysis" which summarizes for us in 2 dimensions the information we had in 25 dimensions (features). There are caveats, and this is just the starting point.</p>

<img src="{{ url_for('static', filename='img/pca.png')}}" class="img-responsive" alt="Responsive image" width="800">
The details are as follows: these 2 principal components from our "PCA" model explain about 32% of the variability between these countries, based on 25 features (the "indicators").
</div>


<div id="indicators">
<h2>Indicators</h2>

<p><a href="{{ url_for('indicators')}}">Click here to see the indicator definitions.</a></p>
<p>Note that this ranking is still a work in progress! Also, for now, we started with the same 60 countries that US News had in their ranking (their starting point was 100 countries, see their methodology).</p>
<p>The indicators come from the World Bank Database. Currently, 25 indicators each mapped fairly well to one of the 65 features used in the US News ranking. For all indicators, a higher score is "better" (some were reversed, eg, degree of corruption). To come up with a score, we standardized each variable to be on the same scale. A score of 0 means the country was average. A positive score meant it was better than average. We then took a simple average of the 25 scores to come up with a ranking. This is along the same lines as what US News did, and we are continuing to fine-tune the model as time moves on.</p>




<!-- <script src="http://d3js.org/d3.v3.min.js"></script> -->

</div>





{% endblock %}
